[submodule "dependencies/pybind11"]
	path = dependencies/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "dependencies/Fast-Robust-ICP"]
	path = dependencies/Fast-Robust-ICP
	url = https://github.com/yaoyx689/Fast-Robust-ICP.git
